body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
    text-align: center;
}

h3 {
    background-color: blue;
    color: white;
    padding: 20px;
    margin: 0;
    font-size: 30px;
}

#images {
    margin: 20px 0px;
}

#text {
    width: 80%;
    margin: 100px;
    text-align: left;
}

#lista {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

li {
    font-weight: bold;
    margin-top: 10px;
}

footer {
    background-color: blue;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

button {
    background-color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}

button a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

