header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: lightblue;
}

header h3{
    padding-left: 150px;
}

header nav{
    margin: 20px;
    margin-right: 100px;
    padding: 0px, 100px;
    justify-content: space-between;
}

header nav a{
    margin: 0 15px;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

#welcome{
    background-color: lightcoral;
    padding: 100px;
}

#welcome h1{
    display: flex;
    justify-content: center;
}

#welcome p{
    display: flex;
    justify-content: center;
}

#subscribeSection {
    display: flex;
    justify-content: center;
    background-color: lightblue;
}

#subscribeSection form{
    margin: 16px;
}

#subscribeSection form button{
    background-color: lightcoral;
}

#imageSection{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    align-items: center;
    padding-bottom: 50px;
}


footer{
    display: flex;
    justify-content: center;
    background-color: lightblue;
}